* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik Distressed', cursive;
    font-family: 'Share Tech Mono', monospace;
    list-style: none;
    text-decoration: none;
}

.logo img{
    max-width: 100%;
    height: auto;
    width: 120px;
}

/*--header styling--*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 7%;
    
}


.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 10px;
}

/*.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ef0454;
    left: 0;
    bottom: -4px;
    transition: ease .42s;
}*/

.prime-anchor {
    letter-spacing: 1px;
    text-decoration: overline;
    color: #bdbdbf;
    text-transform: lowercase;
    transition: all ease-in-out 300ms;
 }

 .prime-anchor:hover {
    color: #161616;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
 }

 .btn {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    background: #14b09b;
    color: #e81e25;
    border-radius: 5px;
    padding: 0 38px;
    text-transform: capitalize;
    transition: all .34s;
 }

 .btn:hover {
    opacity: 0.7;
    transform: translateY(-5px);
 }

 /*intro section and main image*/
 section {
    padding: 0 16%;
 }

 .container {
    height: 100vh;
    width: 100%;
    background: url(./images/1080.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    color: whitesmoke;
 }

 .text {
    padding-top: 70px;
 }
 .text .slide {
    margin-bottom: 20px;
 }
 .text .one {
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    display: inline-block;
    margin-right: 22px;
    background: #ffbb01;
    color: #161616;
 }

 .text .two {
    font-size: 24px;
    display: inline-block;
    font-weight: 500;
 }

 .text h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 0.9;
    margin: 0 0  8px;
 }

.dev {
    color: #ffbb01;
 }

.button {
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
}

.btn2 {
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    color:#ffbb01;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.btn2 span i {
    height: 70px;
    width: 70px;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 10px 8px rgba(132, 145, 21, 0.726);
    margin-right: 20px;
    transition: ease .30s;
}  

.btn2 span i:hover {
    background: #ffbb01;
    color:#161616;
}

/* Socials on intro page */
.social {
    position:absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
    /* color:#ffbb01; */
}

.social ul li {
    margin: 20px 0;
}

.social ul li i {
    font-size: 22px;
    color:#ffbb01;
    transition: all .30s;
}

.social ul li i:hover {
    transform: translateY(-5px);
    color: #bdbdbf;
}

/* About Section */
.about img {
    height: auto;
    width: 400px;
    
}

.main {
    display: flex;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about {
    background-color: #191919;
    color:#bdbdbf;
    width: 100%;
    padding: 100px 0px;
}

.about-text {
    width: 550px;
}

.about-text h2 {
    color: whitesmoke;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;    
}

.about-text h4 {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text span {
    color: #ffbb01;
}

.about-text p {
    color: rgba(247, 245, 228, 0.8);
    list-style: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}

/* Services section */